body {
  text-align: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
  padding-top: 10%;
  border-style: double;
}

.greenChange {
  background-color: green;
}

.redChange {
  background-color: red;
}

.blackChange {
  background-color: black;
}